@tailwind base;
@tailwind components;
@tailwind utilities;

.arrow {
    position: absolute;
    top: -10;
    right: 640px;
}

@media only screen and (max-width: 1000px) { 
    .arrow {
        position: absolute;
        right: -70px;
        top: 10
    }
}

@media only screen and (min-width: 1000px) and (max-width: 1600px) { 
    .arrow {
        position: absolute;
        right: 300px;
        top: 10
    }
}

@media only screen and (min-width: 1600px) and (max-width: 1700px) { 
    .arrow {
        position: absolute;
        right: 480px;
        top: 10
    }
}